[2014-12-02 18:34] markstos opened #6 "Wish: document example use"
Thanks for this module. It looks like a useful tool for projects that want to support loading data from a variety of file formats.

It would be helpful if the README file illustrated an example end-to-end use of how a module might make use of `node-interpret`.

[2014-12-03 19:00] #6 closed, assigned to nobody

[2014-12-16 21:37] phated opened #8 "Support es6 based on the .es6 extension"
This can easily be done with https://6to5.org/usage.html#require-hook but it would register as `.js` also. Opening another issue to allow configuration objects to solve this.

[2014-12-16 21:38] phated opened #9 "Support configuration objects"
Supporting es6 through 6to5 requires a config object that sets extensions (to avoid `.js` collisions).  Add support for this before #8.

[2014-12-17 03:05] markstos opened #10 "wish: support .properties extension"
`node`config` is considering using this module for loading config files. `.properties` is one of the file formats we currently support, but would prefer to support through `interpret`. It's currently parsed by the `properties` module:

https://www.npmjs.com/package/properties

[2014-12-17 03:06] markstos opened #11 "wish: support .json5"
`node`config`is considering using this module for loading config files.`.json5`is one of the file formats we currently support, but would prefer to support through`interpret`. It's currently parsed by the`json5` module:

https://www.npmjs.com/package/json5

[2014-12-17 17:37] #11 closed, assigned to nobody

[2014-12-29 18:20] silkentrance opened #12 "Make this more versatile via a simple plugin system"
I wonder why you take on the burden of having to maintain the file extensions at all?

How about implementing a simple plugin system that would allow users to integrate their own "experimental" languages and other languages that are currently not supported.

I am currently working on a similar solution and I would be happy to stop working on that, provided that node-interpret would allow me to plu

[2014-12-31 15:25] #12 closed, assigned to nobody

[2015-01-05 21:44] silkentrance opened #13 "Having problems integrating vowsjs/vows and older versions of coffee-script < 1.7.0"
Requirement: needs to be orchestrated with tkellen/node-rechoir#14

I am currently trying to integrate node-rechoir into vows. While this actually works like a charm *kudos* for coffee-script 1.8.0, it is also a pain in the *** for versions below 1.7.0.

Older versions of coffee-script do not have a coffee-script/register module. In fact, they will register themselves automatically.

Since node-in

[2015-01-06 20:25] silkentrance commented on #8
@phated I see where this is going to. Well, for one thing, node-interpret does not require the external modules, node-rechoir does. It will require the module, say require("6to5/register"). This in turn will return a function R, that when called will expect the user to provide a configuration object.

This function will then be passed on, as the module parameter, to whatever registration function

[2015-01-06 20:51] silkentrance commented on #9
@phated have you look at the registration function for node-jsx? It will pass a configuration object to the register function for that language.

[2015-01-07 20:31] silkentrance commented on #8
@phated, @tkellen

I have create a patch for both node-interpret and test cases for node-rechoir.

Check out vibejs/node-rechoir@8ec6edcd210b144eebc108138b19df0491256475

Please note that this version of node-rechoir expects you to pass in the requiring module, see tkellen/node-rechoir#10 for more information.

[2015-01-07 20:52] phated commented on #9
Based on the discussion in #13, I think the most basic config object should be something like:

[code]

[2015-01-07 21:16] silkentrance commented on #9
And this configuration object comes from where? Is it part of node-interpret or can the user pass in that kind of configuration?

[2015-01-07 21:18] phated commented on #9
It's built into this library. The need comes from 6to5 registering on `.js` extension

[2015-01-07 21:55] silkentrance commented on #9
And what about different "legacy modules" requiring different options?
I'd propose the following

[code]

How about this instead?

[2015-01-07 21:59] phated commented on #9
you are inverting the `extension: module` paradigm and I don't think that fits as much.  node-rechoir doesn't check versions first and I don't think it makes sense to

[2015-01-07 22:26] silkentrance commented on #9
Actually, the extensions : module paradigm still exists. The module is then used for looking it up in the version specs, along with the extension. If a match can be found, then the configuration for that version spec will be used.

[2015-01-08 08:49] phated commented on #8
@tkellen what are your thoughts on letting 6to5 register on `.js` if it is loaded, but only load on `.es6`?  e.g. if your gulpfile is named `gulpfile.es6` then 6to5 will be required and hook into `.js` and `.es6` so you don't need to name all your files `.es6`

[2015-01-09 12:47] tkellen commented on #8
`+1`

[2015-01-10 08:49] phated commented on #9
This was closed by https://github.com/tkellen/node-interpret/commit/f186ea6a48655514763de22acc0ca2292ce2f3f1

[2015-01-10 08:49] #9 closed

[2015-01-10 08:50] phated commented on #13
This was fixed with https://github.com/tkellen/node-interpret/commit/f186ea6a48655514763de22acc0ca2292ce2f3f1 - at least how it relates to `interpret`

[2015-01-10 08:50] #13 closed

[2015-01-10 18:57] #8 closed

[2015-01-10 19:49] phated commented on #8
Added tests in rechoir for es6 - https://github.com/tkellen/node-rechoir/commit/e80518c8a0de140eec206d3e3c76857cb486f40e

[2015-02-17 23:24] phated commented on #10
ref https://github.com/gagle/node-properties/issues/14

I think we close this if no movement is taken before 1.0 release

[2015-05-15 20:39] ljconde opened #23 "Latest livescript 1.4 package breaks interpret"
Latest livescript npm package (1.4) is now 'livescript' instead of 'LiveScript'. Interpret is currently expecting LiveScript (https://github.com/tkellen/js-interpret/blob/master/index.js#L18) and this is causing anything using the newer livescript package to fail.

[2015-05-18 02:56] tkellen commented on #23
Do older versions work with "livescript"?

[2015-05-18 16:36] ljconde commented on #23
I don't believe it does. 'LiveScript' has 25 releases available, vs only 2 releases in the new 'livescript'.
https://www.npmjs.com/package/LiveScript
https://www.npmjs.com/package/livescript

[2015-05-19 20:51] tkellen opened #25 "move legacy modules into primary extension listing"
In order to keep a single entry point in Liftoff for specifying module loaders per-extension, the extension listing should look something like this:
[code]

[2015-05-19 20:52] tkellen commented on #25
This will address gulpjs/gulp#1071

[2015-05-19 20:52] phated commented on #25
I think this is fine, but shouldn't everything be moved in there then? Like the install function, etc?

[2015-05-19 20:53] tkellen commented on #25
Yeah, may as well.

[2015-05-19 20:53] phated commented on #25
@tkellen does this make the liftoff implementation easier?

[2015-05-19 20:54] tkellen commented on #25
Yes, massively. I don't know why I didn't think of this representation to begin with.

[2015-05-19 21:05] tkellen commented on #25
Pretty sure this should do it:
[code]

If the value is a string, Liftoff will just try to require it. If the value is an object, it'll require the module and pass it into the register method. If the value is an array, Liftoff will iterate through them trying to find one that doesn't throw (the values of the array can be mixed, strings or objects).

...thoughts?

[2015-05-19 21:08] phated commented on #25
@tkellen yeah, but `module` in an object needs to support an array also

[2015-05-19 21:09] phated commented on #25
This would also allow us to support old versions of interpret in liftoff so it is a minor bump instead of major :+1:

[2015-05-19 21:10] tkellen commented on #25
Do we have a use case for that now or are you just trying to keep things DRY in the event we need to use the same register method across multiple different possible modules?

[2015-05-19 21:10] phated commented on #25
@tkellen updated my above comment.  I didn't read :stuck_out_tongue:

[2015-05-19 21:10] tkellen commented on #25
Gotcha!

[2015-05-19 21:11] phated commented on #25
@tkellen are you implementing or looking for someone to tackle?  I might have some time

[2015-05-19 21:11] tkellen commented on #25
If you want to implement this in Liftoff, awesome! I think it'll be pretty straightforward.

[2015-05-19 21:12] tkellen commented on #25
I'll cut a new major for interpret in a sec.

[2015-05-19 21:13] phated commented on #25
@tkellen sounds good.  Make sure that the newest version of each module is in the first element of the array (e.g. `livescript` first instead of `LiveScript`)

[2015-05-19 21:14] tkellen commented on #25
good catch. i'll do a PR for the version so you can sanity check

[2015-05-20 15:47] tkellen commented on #25
resolved in 6131267d406f0b2b805ba71363daa2e9aa21e839

[2015-05-20 15:47] #25 closed

[2015-05-20 15:47] tkellen commented on #23
resolved in 6131267d406f0b2b805ba71363daa2e9aa21e839.  liftoff needs to updated to support this, however.

[2015-05-20 15:47] #23 closed

[2015-05-20 15:48] tkellen commented on #10
I'm closing.  @markstos / @gagle please feel free to open a PR to add support for this module if you'd like!

[2015-05-20 15:48] #10 closed

[2015-07-02 09:22] thejameskyle opened #29 "babel-core"
It'd be nice if you could conditionally load `babel-core` instead of `babel` when it exists.

`babel-core` is the lightweight version of babel that plugins like `babelify` use.

This should work just as well:

[code]

Ref: https://github.com/gulpjs/gulp/issues/1127

[2015-07-02 18:13] phated commented on #29
@thejameskyle I'm pretty swamped the next couple of weeks.  Could you submit a PR that adds it as the first option to `.babel.js` extension?  An example of supporting multiple loaders is the `.jsx` extension https://github.com/tkellen/js-interpret/blob/master/index.js#L24 (I'm guessing `babel-core` should be added to that list also)

[2015-07-03 19:23] #29 closed

[2015-07-04 17:21] bucaran commented on #29
@thejameskyle If I have a project that uses `babel-runtime` (for generator support, etc.) but also installs the `require` hook, is it still recommended to add `babel-core` as a runtime dependency of my project?

[2015-07-04 17:41] thejameskyle commented on #29
The `babel` package uses `babel-core` internally, if you don't need the CLI I suggest replacing `babel` with `babel-core`. `babel-runtime` is separate

[2015-07-04 18:00] bucaran commented on #29
@thejameskyle I am using `babel-runtime` in the project already:

[code]

So, since that's already there, and everything works OK, I was wondering if adding `babel-core` would add any value?

[2015-07-04 19:07] thejameskyle commented on #29
Go to the support chat, this is isn't the right place to be having this discussion.

[2015-11-12 20:56] tkellen opened #36 "automatically generate readme from source"
...using https://www.npmjs.com/package/verb

[2015-11-16 18:53] phated opened #37 "Go 1.0?!"
I think we are at a point where we could go 1.0 - @tkellen Thoughts?

We might want to tackle #36 first.

[2015-11-16 19:03] blakeembrey commented on #37
If you're going to `1.0`, I'd kill `typescript-node` and `typescript-register` from `.ts` and `.tsx` support.

Reference: https://github.com/pspeter3/typescript-register

I'd probably say kill `typescript-require` too, but that is ongoing (no fixes or resolution yet): https://github.com/theblacksmith/typescript-require/issues/36

[2015-11-16 22:22] phated commented on #36
@jonschlinkert - could you help us with this?

[2015-11-16 23:05] jonschlinkert commented on #36
sure! I'm releasing the next version of verb this week (major overhaul). I'll do this right afterwards

[2015-11-17 00:16] phated commented on #37
I'm fine with either but maybe we let people keep using old versions for the time being.  I wouldn't want to remove babel/register or babel-core/register just because we added babel-register because people might still be using older versions.

[2015-11-17 18:13] blakeembrey commented on #37
No worries, was just mentioning since 1.0 is a breaking change. Just won't be able to remove them until 2.0.

[2015-11-18 22:29] phated commented on #37
I think we should keep them through the 1.0 lifecycle.  If this module starts to get huge, we can remove and bump 2.0

[2015-11-18 22:40] phated commented on #37
Done and published!

[2015-11-18 22:40] #37 closed

[2016-06-21 21:57] cspotcode opened #39 "babel-register compiles .js files; should only handle .babel.js"
Babel frequently has bugs (at least, I've hit many) so there's no reason to have babel compiling `.js` files when it's not necessary.

You can use babel-register's `only` option to avoid transpiling files unless they actually end in `.babel.js`
https://github.com/js-cli/js-interpret/blob/master/index.js#L2-L12

[code]

[2016-06-21 22:06] phated commented on #39
That's super cool but it didn't exist when we implemented this. This addition should be fine as older versions should ignore that extra property (people might still encounter a problem with older versions).

[2016-06-27 09:30] graingert commented on #39
@phated this will break my codebase because we use a mix of ".js" and ".es" files.

Maybe interpret should read settings from ".interpret.json" or "package.json#interpret"

[2016-06-28 03:32] cspotcode commented on #39
@graingert: How will this break your code, since js-interpret doesn't do anything for `.es` files?

[2016-06-28 03:34] phated commented on #39
@graingert We won't be adding anything like an `.interpret.json` because this is just a config file as a module :/

[2016-06-28 07:45] graingert commented on #39
I'm using both .js and .es files I expect them both to be transpiled
On 28 Jun 2016 4:34 am, "Blaine Bublitz" <notifications@github.com> wrote:

[2016-06-28 15:47] cspotcode commented on #39
Right, but js-interpret specifically does *not* transpile `.es` files, so your codebase should already be broken unless I'm mistaken.  Like @phated said, this module is just a config file.

[2016-06-28 15:49] graingert commented on #39
yeah I get that, but once this loads all the ".js" files are also transpiled.

[2016-06-28 16:02] cspotcode commented on #39
...but `.es` files *aren't* transpiled, and you said you need `.es` files
to be transpiled.

I think your use case it in conflict with js-interpret's intended behavior.
 js-interpret loads a transpiler / module loader if a given file extension
indicates it is required.  Per `js-interpret`'s configuration, only
`.babel.js` files should be transpiled.  `.js` files, according to [line
50](https://git

[2016-06-28 16:09] graingert commented on #39
Yeah I want ".es" and ".js". Without this change, interpret is half-way there.

[2016-06-29 00:56] tkellen commented on #39
@graingert this module is primarily used to support writing cli tool configuration files in any format transparently. what is the use case where you have, for example, a gulpfile with two different extensions?

[2016-06-29 08:46] graingert commented on #39
I need to require my webpack config in my backend codebase (enhanced require etc). I have a mix of legacy ES5 code and ES2016 code that need to be linted differently. JSCS does not support distinguishing of files like .babel.js and .js, they both have the same extension.

So I use a mix of .js and .es files, and I configure two JSCS and eslint configs, one that points at .js the other at .es.

[2016-06-29 17:38] phated commented on #39
@graingert we aren't going to support the .es extensions because it was thoroughly discussed in the gulp issue https://github.com/gulpjs/gulp/issues/830

[2016-09-05 14:33] WolfieZero opened #42 "gulp.buble.js - "Failed to load external module buble/register""
I'm trying to use ES2015 in my Gulpfile with buble, but I get the error `Failed to load external module buble/register`

package.json

[code]

[2016-11-07 20:57] kaisermann commented on #42
Having the same issue here.

[2016-11-29 07:37] pravi opened #43 "please add tag for 1.0.1 release"
This release is missing from tags page.

[2016-11-30 03:46] jonschlinkert commented on #43
done

[2016-11-30 03:46] #43 closed

[2016-11-30 03:48] jonschlinkert commented on #36
Wow, I just saw this when I closed another issue. I must have completely forgotten about it! If you're still interested in doing this I can take a look

[2016-11-30 11:31] tkellen commented on #36
No apologies needed sir! We'd still love help with this if you're willing and interested.

[2017-04-18 20:48] phated commented on #42
Fixed in v1.0.3

[2017-04-18 20:48] #42 closed

[2017-04-18 20:55] phated commented on #36
Ping @jonschlinkert

[2017-04-18 21:17] jonschlinkert commented on #36
@phated the reason I haven't done anything with this was that it would be problematic for you given that it requires node v0.4.7.0 or later (b/c of handlebars), and I've been trying to think of a way to fix that problem.

[2017-04-18 21:19] phated commented on #36
@jonschlinkert ah! thanks.

[2017-04-18 21:21] phated commented on #36
@jonschlinkert it seems the lie in their Readme: https://github.com/wycats/handlebars.js#supported-environments 😛

[2017-04-18 21:23] jonschlinkert commented on #36
Indeed it does, since https://github.com/wycats/handlebars.js/blob/master/package.json#L21 will cause errors in CI's

[2017-04-18 21:26] phated commented on #36
Wow, 0.4.7!  They haven't updated that in forever (not to be confused with 4.0.7, haha)

[2017-04-18 21:27] jonschlinkert commented on #36
omg does it really say that? lol

[2017-04-18 21:32] jonschlinkert commented on #36
I specifically remember getting CI errors related to handlebars that alerted me to the issue. I'll look into it more. if it wasn't the engine version it might be something else in the hbs tree.

[2017-04-18 21:48] doowb commented on #36
lol... I've looked at Handlebars' `package.json` many times and thought that it said `>=4` also.

I thought I saw those too.

[2017-10-16 05:59] Fudoshiki opened #46 "Support .babel.coffee for CoffeeScript 2?"
https://github.com/webpack/webpack/issues/5831

[2017-10-16 08:31] #46 closed

[2017-11-29 23:21] simonbuchan opened #48 "Support babel 7 for .ts / .tsx"
Mentioned this in #47, but got no reply. Babel 7 adds `@babel/preset-typescript`, which, obviously, lets you transpile `.ts/.tsx` code with the babel pipeline (with some limitations). It would be good to be able to use, e.g. `webpackfile.ts` without adding any more dependencies or workarounds.

Looks simple enough to add - just add `@babel/register` with `extensions: '.ts'` to the end of `.ts` - b

[2017-11-30 00:06] phated commented on #48
I'm not a big fan of this idea. But if we do it, I'd want babel to be the last one in the list (excluding deprecated ones)

[2017-11-30 00:25] simonbuchan commented on #48
Yeah, you very well could be using both `ts-node` for `.ts` and babel 7 for `.babel.js`. Hah, `.babel.ts`?

[2017-11-30 00:29] phated commented on #48
Unfortunately "double" extensions don't work correctly. I think there's an issue about that.

[2018-01-22 20:54] phated opened #50 "Support es-imports once the API is stable"
I don't trust the `.mjs` stuff is going to make it into stable as-is so let's keep an eye on it and support the resulting stable implementation.

[2018-06-20 01:15] coreyfarrell opened #52 "Feature request: Add support for esm."
I'd like to request that esm be added if possible.  Bad news I just tried adding it and couldn't get it to work.  I added `'.esm.mjs': 'esm',` to extensions and `'.esm.mjs'` to jsVariantExtensions.  This caused the following from gulp:
[code]
The result was the same for `gulp` and `npx gulp` (global gulp-cli vs local gulp-cli).

[2018-06-20 01:47] phated commented on #52
Thanks for opening the issue! I think the implementation will be closer to Babel (with the custom function wrapper) but haven't looked into it yet.

[2018-06-28 23:00] #48 closed

[2018-06-29 00:52] phated commented on #52
@coreyfarrell I'm digging into this more but it seems like it'd require changes on the `esm` side because they expect the consumer to use a returned `require`-style function but we expect things to be registered onto a extension.

[2018-06-29 06:30] phated commented on #52
Actually, I think I found the answer at https://github.com/standard-things/esm/issues/433

[2018-06-29 06:38] #52 closed

[2018-06-29 06:40] phated commented on #52
Need to do some testing on the changes using `rechoir` before I publish.

[2018-06-29 18:08] coreyfarrell commented on #52
I just did some local testing against gulp, one issue I ran into it doesn't seem to respect any of the ways to set [ESM options](https://github.com/standard-things/esm/#options).  To enable debug I had to edit interpret to use `var esmLoader = hook(module, {debug: true});`.

Note I'm looking into debug to find out why `import {rollup} from 'rollup';` doesn't work.  I think it's an esm bug, I'm abl

[2018-06-29 18:13] phated commented on #52
@coreyfarrell I'm guessing they don't look up options when it's used programmatically - might want to check that too.

[2018-07-05 00:48] coreyfarrell commented on #52
I got an [explanation](https://github.com/standard-things/esm/issues/485#event-1709556810) of the issue I was having with rollup.  I had to drop my plan to use a dual mode `main` file in my own package, instead using `"main": "index.js", "module": "index.mjs"`.

At this point I'm not sure how important it is to be able to set the ESM options, I'm able to use `gulpfile.esm.js` with the default opti

[2018-11-03 15:58] coreyfarrell commented on #52
@phated Would you be willing to publish an updated version that includes `.esm.js`?  I've been using this for a while and once I understood the limitations of the `esm` module it works great for me.  Even if I'm pointing to a `@next` version I'd prefer to use an npm based dependency over `gulpjs/interpret#master`.

[2018-11-03 20:08] phated commented on #52
Yeah, I can probably get something published this week.

[2018-11-26 12:35] WuglyakBolgoink commented on #50
any news?

[2018-11-27 19:42] phated commented on #50
This is already available in master but it's not going to be published until I can get the test harness updated. https://github.com/gulpjs/interpret/commit/7205800a195d14b2e31de82287858826ef85df10

[2018-11-27 19:42] #50 closed

[2018-12-11 08:12] ljqx opened #54 "rootMode: 'upward' for @babel/register?"
Hi, Gulp team,

We are upgrading Babel to 7. And as we were using `gulp.babel.js`, so now we are moving from `babel/register` to `@babel/register` too.

But Babel 7 has [a different way to find the config file](https://babeljs.io/docs/en/config-files#project-wide-configuration).

As we are using a monorepo, now inside subpackage, we cannot run `gulp` anymore as `@babel/register` cannot find the ba

[2018-12-11 19:32] phated commented on #54
hm, I think this would be a breaking change for people that were expecting only their root `babel.config.js` to take effect.

Thoughts?

[2018-12-12 02:07] ljqx commented on #54
I think no, as the [doc](https://babeljs.io/docs/en/config-files#root-babelconfigjs-files) says, `upward` works as

So there stills only one `babel.config.js` is working. The change is

- now, it would only search for the one in `cwd`. If there is no such config, then it's empty.
- after, it would search `upward`, if there is no such config in `cwd`, it would search in parent folders. Actually thi

[2018-12-12 02:19] phated commented on #54
If it "stops" at the first found `babel.config.js`, then that should be okay.  I thought it would do merging. Can you confirm with the babel team that it won't be merged?

[2018-12-12 02:46] ljqx commented on #54
Maybe it's more reliable with code?
Check: https://github.com/ljqx/babel-register-test
After `yarn`

- `yarn run-in-root` would print `default` which means the code is compiled with `@babel/plugin-proposal-nullish-coalescing-operator` which is defined in the root `babel.config.js`

- `yarn run-in-foo` would show error as the `nullishCoalescingOperator` is not recognized, which means `foo/babel.con

[2018-12-27 23:38] phated commented on #52
@coreyfarrell potentially great news, I'm just wrapping up a complete test suite for this project and should have the ESM update published as soon as my Window's CI succeeds.

[2018-12-27 23:43] phated commented on #54
@ljqx I'm looking into this deeper and I'm wondering if we should use `"upward-optional"` instead (see https://babeljs.io/docs/en/options#rootmode)

[2018-12-27 23:50] phated commented on #54
It also seems like if you don't have a `babel.config.js` that an error will be thrown - I don't think I like that.

[2018-12-27 23:51] phated commented on #54
cc @hzoo - maybe you can give more insights.

[2018-12-28 02:56] phated commented on #52
@coreyfarrell just published as 1.2.0!!

[2018-12-29 02:41] phated commented on #54
@ljqx now that we have proper tests on this repo, I made the change you are suggesting and the tests are failing when users are using a `.babelrc` instead of `babel.config.js` so it doesn't look like we can use `upward`.

[2018-12-29 02:57] phated commented on #54
I'd also like to add a test to the suite but I think that might collide with the .babelrc test.

[2018-12-29 07:01] ljqx commented on #54
@phated hmm, yeah, seems for people who don't have `babel.config.js`, `upward-optional` is more suitable.

And both `upward` & `upward-optional` would find the `root` folder only by `babel.config.js`. Other config files like `.babelrc` belongs to [file relative configuration](https://babeljs.io/docs/en/config-files#file-relative-configuration).

So seems no option equivalent to previous one in Bab

[2019-03-17 18:54] ulrichb opened #55 "Add `plugin-transform-modules-commonjs` to @babel/register"
As Node.js nowadays supports every ES 6+ feature necessary for writing idiomatic Gulp4 scripts except ES 6 module imports/exports, it would be cool to automatically add the [`babel-plugin-transform-modules-commonjs`](https://babeljs.io/docs/en/babel-plugin-transform-modules-commonjs) plugin by using [the `@babel/register` options](https://babeljs.io/docs/en/babel-register).

This would allow to su

[2019-03-17 19:00] phated commented on #55
We aren't going to do this. We already support esm, so if you only need modules, just use that instead of bloated babel

[2019-03-17 19:00] #55 closed

[2019-03-17 19:15] ulrichb commented on #55
Oh, I din't know of the `.esm.js` option. (And actually had to update `interpret` because of the outdated dependency reference in `gulp`).

Works great and much faster than Babel.

Maybe it's worth mentioning this on https://gulpjs.com/docs/en/getting-started/javascript-and-gulpfiles.

[2019-03-18 18:31] phated commented on #55
Glad it's faster for you (it is also to-spec instead of an interop layer)

As for docs, we have an issue open at https://github.com/gulpjs/gulp/issues/2278

[2019-03-18 19:26] ulrichb commented on #55
Okay. Thanks!

[2019-04-27 17:02] cedx opened #56 "[ESM] Does not work with "type": "module" in "package.json""
I'm using the new [ES modules](https://nodejs.org/api/esm.html) features from Node.js 12 (the next LTS).

If I set my package to be an ESM one with the field `type` set to `module` in `package.json` file, the `gulpfile.esm.js` file stops working as expected.

[code]

If I set the `type` field to `commonjs`, the `gulpfile.esm.js` file works as expected (but not my code which uses only ES modules).

[2019-04-27 17:05] phated commented on #56
It's likely not going to happen in interpret because then interpret would need to read package.json files.  Maybe you want to open this on esm?

[2019-04-27 17:05] #56 closed

[2019-04-27 17:25] cedx commented on #56
OK, done: standard-things/esm#789

[2019-10-16 03:54] #39 closed

[2019-10-16 03:54] #54 closed

[2019-10-28 18:27] cedx opened #59 "Feature request: add support for the `.cjs` file extension"
Since Node.js 12.x (I don't know the exact version: maybe since 12.11.0), we can use the `.cjs` file extension to denote a JS file using the CommonJS module format.

The issue: if we use `"type": "module"` in `package.json` file, every file which extension ends with `.js` is interpreted as an ES module. With this setting, Gulp fails when loading the `gulpfile.js` file. The only way to force Node.j

[2019-11-19 06:15] wKich opened #61 "support multiple extensions for @babel/register hook"
[code]

If project have `@babel/register` package, when second call overwrite the extensions option of `@babel/register` hook. So `.ts` modules can't be compiled.

[2019-11-20 14:05] phated commented on #61
Seems like you are using this wrong. You probably should look at using rechoir to register extension hooks.

[2019-11-20 16:56] wKich commented on #61
Why you think so? I develop ui testing tool, that allow define config in js/ts/coffee/etc, like webpack does. But also I use it to test itself. And I need to import tsx files along with config in ts. For developers, that will use my tool they should define extensions for ts and tsx explicitly, because interpret don’t work.

[2019-11-20 17:00] wKich commented on #61
If I use `ts-node` ts and tsx files import without any error and I expect same behavior for `@babel/register`.

[2019-11-20 17:16] wKich commented on #61
By the way, I looked code of rechior and it has same issue.

[code]

[2019-11-23 15:56] phated commented on #61
@wKich interesting. I think this might be a problem with babel then. I think they might actually cache the registration so as not to "double compile"

[2019-11-23 19:42] ulrichb commented on #50
Now with Node 13.2 `.mjs` works [without `--experimental-modules`](https://nodejs.org/en/blog/release/v13.2.0/).

=>Can we now delegate `gulpfile.mjs` simply to Node? (Atm. it's not supported.)

[2020-01-13 11:33] wKich commented on #61
@phated, could I fix this, by changing `extenstions` property for babel to `['.ts', '.tsx']`? I think, it's not big deal some one call hook for '.ts' extension and '.tsx' extensions will be registred as well.

[2020-01-14 09:31] cedx commented on #59
We can use a `.gulp.json` file at the project root to avoid the need to pass the `-f` option on command line:

[code]

I close this ticket because this solution suits me.

[2020-01-14 09:31] #59 closed

[2020-01-20 18:37] phated commented on #59
@cedx since node supports `.cjs` natively, I think we can set `.cjs` to `null` in the config but I still need to check.

[2020-01-20 19:07] cedx commented on #59
Probably: when I tried, it worked. At least, locally (see #60).
(I closed this issue and the related PR because I had too many issues and PR open, and I wanted to do a cleanup of my GitHub account)
Thanks for your efforts on Gulp!

[2020-01-21 02:11] phated commented on #61
After doing a bunch of research into this, I've found that the

[2020-01-21 02:14] phated commented on #61
After doing a bunch of research around this, I've found that the problem exists within `@babel/register` at https://github.com/babel/babel/blob/master/packages/babel-register/src/node.js#L98. This is de-registering the hook before a new one is registered. Generally, this keeps someone from shooting themselves in the foot, but it messes up the use-case of registering multiple extensions using inter

[2020-01-21 02:14] #61 closed

[2020-01-21 02:57] phated commented on #59
It seems that this is only supposed to work when you are executing something with the `node` command directly or importing a `.cjs` file from a `.mjs` file.

I'm not sure why your solution is actually working 😬

[2020-01-21 03:01] phated commented on #59
It also seems like `.cjs` doesn't exist in `require.extensions`, which this module is primarily concerned with.

I don't think we can support `.cjs` right now and the workaround will need to suffice. Sorry.

[2020-01-21 03:12] phated opened #65 "Enhancement: Support .mjs & .cjs extensions"
Supersedes #50 & #59 - Please see them for additional context

We currently have support for ESModules using the `.esm.js` extension and the `esm` module to transpile them on the fly. However, node 13 (and the upcoming 14) support the `.mjs` and `.cjs` extensions. I've run into a bunch of troubles reviewing, interpreting, and testing those features, but I'd like to support them.

I'd love some hel

[2020-01-23 11:17] Haringat commented on #65
@phated This will definitely be a breaking change as you cannot `require()` a .mjs file. However, you can use `import()` inside both .cjs and .mjs files (in both cases it returns a promise).

Thus you would have to use `import()` notation instead of `require()` to dynamically resolve the gulpfile.

That would require to break backwards compatibility because e.g. in Node.js 12 `import` is already a

[2020-02-19 09:42] ExE-Boss commented on #65
That’s incorrect, as `.cjs` can be used anywhere a `.js` file can be used currently, though old **Node** versions need a polyfill:

[code]

[2020-02-19 14:56] phated commented on #65
@ExE-Boss you must have missed this in the node docs:

Gulp uses require to load files, so cjs won't "just work".

[2020-02-19 15:53] ExE-Boss commented on #65
That is factually incorrect, as `require('./some-file.cjs`)` works just fine, [and both the docs](https://nodejs.org/api/esm.html#esm_package_json_type_field) and [the source code](https://github.com/nodejs/node/blob/b8e41774d4287d128a40f7ecfecf170fe16fe9ed/lib/internal/modules/cjs/loader.js#L381-L393) confirm this:

[2020-02-19 16:44] phated commented on #65
Interpret is used to register require extensions and doesn't allow for node's fallback behavior. I also believe node didn't used to have that fallback behavior, but I'd need to check when I'm not on mobile.

[2020-02-20 04:50] ExE-Boss commented on #65
**Node** has had the fallback to `.js` behaviour for a long time due to extensionless files, which are supported for command line purposes on UNIX.

[2020-02-20 19:02] Haringat commented on #65
That is wrong because even with interpret you are still calling node's `require()` on the file and if at that point the extension has not been defined node's `require()` *will* use its fallback functionality.

[2020-03-10 16:33] yannbf commented on #65
I have recently seen an issue on storybook at https://github.com/storybookjs/storybook/issues/9854
where a dev wanted to use .mjs for his files but it didn't work. As storybook relies on interpret, indeed it wouldn't work given that there's no support for mjs so far.

However, by adding the following in interpret `extensions` array:
[code]

And also `.mjs` in the `jsVariantExtensions` array, the f

[2020-03-10 19:44] Haringat commented on #65
@yannbf That attempt still relies on a transpiler (in this case babel) to work. We can already do that using the esm package. What this issue is about, however, is leveraging Node's native support for esm modules so that no transpiler is necessary.

[2020-03-10 19:49] yannbf commented on #65
Hey @Haringat got it! Thanks for explaining.

[2020-05-19 10:45] LoganDark opened #67 "webpack.config.ts not detected as typescript even with typescript and ts-node installed"
### What were you expecting to happen?

webpack.config.ts is interpreted as ts

### What actually happened?

webpack.config.ts is interpreted as js

### Terminal output / screenshots

[code]

### Please provide the following information:
* OS & version: macOS Mojave 10.14.6
* node version: 13.3.0
* npm version: 6.13.1

### Additional information

dependencies:
![image](https://user-images.githubus

[2020-05-19 20:19] phated commented on #67
@LoganDark do you have a TS config file that is generating esm modules?

[2020-05-19 23:25] LoganDark commented on #67
@phated yes, es5 commonjs

[2020-05-19 23:47] phated commented on #67
That's the opposite of what I asked. I think you will need to create a repository that shows this problem before anyone can work on it.

[2020-05-19 23:48] LoganDark commented on #67
If so I have no idea what you asked. I guess I'll create a repository

[2020-05-19 23:52] LoganDark commented on #67
[Here you go](https://github.com/LoganDark/tailwind-js)

[2020-05-20 00:12] phated commented on #67
Thanks!  I don't have webpack installed globally so the sample doesn't work out of the box. I did `npm i -D webpack-cli` and then `npx webpack` and the example works as expected.

Note that I'm testing in node 10, not 13. So either your webpack versions are bad or stuff doesn't work in unstable node?

[2020-05-20 03:43] LoganDark commented on #67
Why does installing webpack-cli fix the issue?

That is very obscure and just retarded, honestly.

[2020-05-20 03:43] #67 closed

[2020-05-23 22:34] snoack commented on #65
As for backwards compatibility, at least in Node.js 10.19.0 and 12.16.2, `import(...)` just returns a rejected promise (if the `--experimental-modules` flag is unused). So how about some code like this to enable loading of ES modules in a backwards-compatible way?

[code]

[2020-05-24 23:46] phated commented on #65
@snoack whoa! great information, I think that is definitely something we need to investigate. Want to help out?

[2020-05-25 00:40] snoack commented on #65
I already had a quick look at `gulp`, `gulp-cli` and `interpret` and tried to figure out how the Gulpfile is loaded but I'm a bit lost there. Do you have any pointers?

[2020-05-25 00:57] phated commented on #65
@snoack yep, that's right here: https://github.com/gulpjs/gulp-cli/blob/master/index.js#L204-L206

[2020-05-25 04:45] snoack commented on #65
Thanks, but it seems that a version specific wrapper is imported there, while the Gulpfile itself is imported from that wrapper (e.g. [here](https://github.com/gulpjs/gulp-cli/blob/master/lib/versioned/%5E4.0.0/index.js#L36)). Do I understand that correctly?

Also where is `env.configPath` coming from? I assume it defaults to `gulpfile.js`? Where is that default defined?

[2020-05-25 19:29] phated commented on #65
@snoack supporting this will need to require 10+, which will require a major bump in gulp-cli. People will be able to install the major version globally for backwards-compat with gulp, but it will also ship with gulp 5.

You are correct that gulp is loaded there and it is determined by Liftoff. If interpret defines `.mjs` as null, it should find the filename.

[2020-05-26 19:14] ExE-Boss commented on #65
This is more correct, as it ensures that the correct error is reported:

[code]

[2020-05-27 23:54] snoack commented on #65
@phated [I had a go.](https://github.com/gulpjs/gulp-cli/pull/214/files) It's still WIP, but I would could already use some feedback. BTW, it seems I found a way to keep things backwards-compatible all the way back to Node.js 0.10.

[2020-05-27 23:58] phated commented on #65
😍 Oh my, this would make you my favorite person! I won't have time to review tonight, but hoping to check it out soon.

[2020-05-28 21:36] snoack commented on #65
I finished up my pull request (with test case and everything). Feel free to review.

[2020-06-03 05:20] #65 closed

[2020-06-03 05:25] phated opened #68 "Investigate if .cjs extension support is needed."
From #59, we believed that `.cjs` extension support was needed, but I think that was due to not properly supporting the ESM syntax. With the work done in gulp-cli by @snoak, we can import ESM modules.

Given that, I only added support for .mjs in #65 and I wanted to open this to investigate if we actually need to support the `.cjs` extension.

If we end up needing to support it, I've put in place

[2020-06-03 05:40] snoack commented on #65
@phated, I skimmed through afe7c29. But I am not familiar enough with `interpret` to fully understand the change, in particular what your are doing there with stubs, and how you treat Node.js 10 special (in the tests at least).

I just want to clarify on Node.js >= 10.15.3, I'd expect `gulp --experimemtal-modules` to pickup a `gulpfile.mjs` from the current directory. On Node.js ^12.17.0 and >= 13

[2020-06-03 05:42] phated commented on #65
@snoack if the `--experimental-modules` flag makes the `require` hook throw, things should still work. When setting a `require.extensions` hook to `null`, any require with that extension is passed to the standard require handler, which causes that to throw (in my local testing).

[2020-06-03 05:58] snoack commented on #68
Node.js considers a script an ES module if it either has the file extension `.mjs`, or if it has the file extension `.js` and is located in a package that declares `"type": "module"` in its `package.json`.

Node.js considers a script a CommonJS module if it either has the file extension `.cjs`, or if it has the file extension `.js` and is *not* located in a package that declares `"type": "module"`

[2020-06-03 06:09] phated commented on #68
Thanks for the additional details! That should help us make a decision.

My assumption was that we didn't support ESM with `"type": "module"`, so they needed to keep their gulpfile in CommonJS. If that's the only reason, I don't see a need to support the `.cjs` extension. However, I'll keep this open to see if someone has a use-case for it with the new ESM support.

[2020-06-03 06:22] snoack commented on #68
I don't think this is true. We call `require()` first and if it fails with `ERR_REQUIRE_ESM` we fallback to `import()`.

So if in there is a `gulpfile.js` using CommonJS semantics in a package that declares `"type": "module"`, `require()` would fail because it considers it an ESM module which cannot be loaded that way, then `import()` will fail when the script attempts to access `require`, ` expor

[2020-06-03 06:35] snoack commented on #65
Yeah, that is what is confusing me. Why not simply setting `".mjs": null` (leaving it up to `gulp-cli` deal with it)? Mind that strictly speaking you [cannot even tell from the file extension alone whether a script is ESM or CJS](https://github.com/gulpjs/interpret/issues/68#issuecomment-637972477).

If some project has a `gulpfile.mjs`, I think it is a very safe assumption that it requires a Gulp

[2020-06-03 06:42] phated commented on #65
@snoack yeah, unfortunately the reasoning is buried under levels of indirection. The `liftoff` module uses the `rechoir` module to lookup and register a loader for the extension if it doesn't exist in `require.extensions` and the node core team never added an entry for `.mjs` in that hash, so rechoir was crashing when specifying the value as `null`. Alas, the stub is needed.

[2020-06-03 06:50] phated commented on #65
Testing this locally now and it is working. Needed to add 1 more update to your changes and should be good.

[2020-06-03 06:53] snoack commented on #65
FWIW, ES modules cannot be loaded through `require()` and `require.extensions` is deprecated. So it kinda makes sense. But as I said if my use case will work, all good:

Unfortunately, you didn't confirm that and from the test code in your change I cannot really tell what to expect. :/

[2020-06-03 06:57] phated commented on #65
@snoack sure, but for the sake of fun, open a node REPL on node 10.21 like `node --experimental-modules` and type `require.extensions` - they added the hook in this version of node and could have it in newer versions too. You can also `.toString()` it and see it just throws the error you check for in gulp-cli.

[2020-06-03 07:05] snoack commented on #68
I don't think this is true. We call `require()` first and if it fails with `ERR_REQUIRE_ESM` we fallback to `import()`.

So if there is a `gulpfile.js` in a package that declares `"type": "module"`, `require()` will fail because it considers it an ES module which cannot be loaded that way, but import `import()` should succeed if the script uses valid ESM semantics.

However, if there is a `gulpfil

[2020-06-03 07:11] snoack commented on #65
Awesome! well appreciated! (Curious about that change though.)

[2020-08-02 07:10] anshumanv commented on #68
Hey 👋

Thanks for the support for .mjs config, over at webpack-cli we use interpret to use various formats of webpack config files as per the extensions supplied by interpret, is it possible to add `.cjs` to the extension list?

[2020-08-02 23:53] phated commented on #68
@anshumanv Can you explain a little more? node.js supports "fall through" when requiring files that don't have an extension registered, so wouldn't `.cjs` just be loaded normally as a .js file?

[2020-08-03 04:33] anshumanv commented on #68
Hey @phated yes, so we use interpret to get webpack configs with valid extension whether `.ts`, `.js` etc so whatever configs are supplied via `--config` flag to the cli, we check if they have a valid extension from interpret - https://github.com/webpack/webpack-cli/blob/a380a785c296208af7017f547cd34cf72517f9da/packages/webpack-cli/lib/groups/ConfigGroup.js#L46 and filter out the ones which are no

[2020-08-05 18:07] phated commented on #68
Oh, that's much different than the way gulp uses list library. We use the `rechoir` library to prepare the environment with the loaders and I believe it allows any unknown extension to fallthrough to the default node loader.

[2020-08-15 17:04] anshumanv commented on #68
Ah okay, I think it makes a lot of sense to fallback to default node loader. I've opted for the same approach 👍 Thanks @phated 💯

[2020-11-14 20:22] damonmaria opened #70 "[Request for Comment] Support --transpile-only for gulpfile.ts"
## Describe your idea for a new feature

Provide a Gulp option to use the `--transpile-only` mode of ts-node.

### Explain the problem your idea is trying to solve

Using Typescript as the language of the gulpfile gets very slow once the gulpfile (and it's imports) become a reasonable size. Here's an example I have:
[code]

It takes 7 seconds to transpile the gulpfile on a top-end MacBook Pro. Thi

[2020-11-15 05:29] damonmaria commented on #70
Ah, I did not realize you could use sucrase. I searched the gulpjs.com documentation but it only seems to mention ts-node.

I'd love to try sucrase but my build also uses `serverless-webapck` which has ts-node as an (optional) dependency. And so Gulp chooses ts-node over sucrase. So maybe this feature request should change to the ability to specify to gulp (even through an environment var) a prefe

[2021-02-27 03:47] gamedevsam opened #72 "Support tsconfig "paths" runtime module resolution"
### Describe your idea for a new feature

In order to support TypeScript's "paths" config option, this project should load `tsconfig-paths/register` when loading ts files: https://www.npmjs.com/package/tsconfig-paths

### Explain the problem your idea is trying to solve

Currently projects that leverage the [paths typescript configuration](https://www.typescriptlang.org/tsconfig#paths) cannot use

[2021-02-27 23:11] phated commented on #72
Why isn't that just upstreamed into ts-node if it is an official feature of typescript? I'd prefer this to be in the tool where it belongs.

[2021-02-27 23:11] #72 closed

[2021-08-19 15:18] monyarm opened #73 "Support for esm.ts using `node --loader ts-node/esm`"
I use ts for my gulpfile, but some of the plugins i use (gulp-imagemin specifically), are esm.
So having a way to use both would be useful, as otherwise when one tries to run gulp, they get something like this:
[code]

[2021-08-19 21:28] phated commented on #73
That sucks.

This is a complex feature to add and is on our roadmap for rechoir, but we probably won't have time to work on it for awhile.

I'll move this over to the rechoir library, as it needs to be implemented in the loader.

[2021-12-14 15:23] danilofuchs opened #76 "Add support for SWC transforms"
### Describe your idea for a new feature

Add `@swc/register` or `@swc-node/register` (I'm not sure which is more stable) to the interpreter list

### Explain the problem your idea is trying to solve

We are migrating away from ts-node to swc for faster compilations

### How will it benefit gulp and its users?

- Faster build times
- Usage is not mandatory

### If this feature could exist outside

[2021-12-14 15:34] phated commented on #76
Why open this when it's being worked on in #74 ?

[2022-04-02 01:59] phated opened #78 "Update project scaffold"
This is on a really old scaffold. Need to update it.

We also should drop the regexps for functions using `.endsWith` if we can.

[2022-04-07 00:32] phated commented on #76
Closed by #74 but I'm also planning to add `.swc.(js|jsx|ts|tsx)` extensions to match babel and esbuild.

[2022-04-07 00:32] #76 closed

[2022-04-07 02:09] #78 closed

[2022-04-07 03:35] phated commented on #70
Instead of committing to using `transpile only` with ts-node, I've added extra extensions to force additional loaders, such as `.sucrase.ts`, on the master branch. These will be released with v3

[2022-04-07 03:35] #70 closed

[2022-04-07 04:04] phated opened #84 "Add mdx support"
We can use https://github.com/mdx-js/mdx/tree/main/packages/register to support MDX via interpret.

[2022-04-07 22:57] #68 closed

[2022-04-08 17:24] #84 closed

[2022-04-08 17:25] #36 closed

[2022-05-19 02:44] cspotcode opened #89 "Add .cts file extension"
Before you open this issue, please complete the following tasks:

* [x] use the search bar at the top of the page to search this repository for similar issues or discussions that have already been opened.

## Our thoughts on feature requests

Lots of developers rely on gulp, so we don't make big changes very often. Not every feature request will be added to gulp, but hearing about what you want is

[2022-05-19 02:45] cspotcode commented on #89
Note that there is also the `.mts` file extension, but that executes as ESM, so would typically require using `node --loader ts-node/esm`

[2022-06-29 00:47] #89 closed

[2022-06-29 18:55] phated opened #92 "MDX hook is buggy"
It seems that the deasync module causes pretty frequent failures in our CI. I'll try to ask @wooorm about it.

[2022-06-29 19:04] wooorm commented on #92
Yeah. deasync is buggy. It’s only used in the deprecated CJS hook. Perhaps you can use the beta node loader instead? 🤷‍♂️

[2022-10-19 12:29] cprecioso opened #94 "Support for .mts"
Before you open this issue, please complete the following tasks:

* [x] use the search bar at the top of the page to search this repository for similar issues or discussions that have already been opened.
  - mentions it, but not discussed: #89

* [x] ~if you are looking for help from the gulp team or community, open a [discussion](https://github.com/gulpjs/gulp/discussions).~
* [x] ~if you think

[2022-10-19 15:54] phated commented on #94
Thanks for the request. We'll be looking to the community to help implement this; otherwise it won't land in gulp 5 because we have a ton other work to do.